/*Header*/
.header {
  position: fixed;
}

.carListContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cardCar {
  width: 14rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-top: 5%;
  margin-bottom: 10%;
}

.cardCar img {
  width: 100%;
}
